.searchbar{
    text-align: center;
}
.searchbar>input{
    font-size: 20px;
    padding: 5px 30px;
    width: 40%;
    margin-top: 2px;
    
}
.searchbar>button{
    height: 40px;
    width: 5%
}

#result_div{
    width: 100%;
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 15px;
    background-color:#f9f9f9;
    margin-top: 10px;

}
#chen{
    
    margin-top: 0px;
}
#titleof{
    margin-top: 5px;
    font-size: 13px;
    
    width: 100%;
    height: 30px;
    overflow: hidden;
    margin-bottom: 2px;
    
}
#result_div img{
    width: 100%;
}






@media only screen and (max-width: 480px){
    #result_div{
       
        grid-template-columns: repeat(1,1fr);
       
    
    }
    #result_div img{
        width: 100%;
    }
    .searchbar>button{
        margin-top: 5px;
        margin-left: 5px;
        height: 40px;
        width: auto
    }
    #titleof{
        font-size: 15px;
    }

}