.searchbar{
    text-align: center;
}
.searchbar>input{
    font-size: 20px;
    padding: 5px 30px;
    width: 40%;
    margin-top: 2px;
    
}
.searchbar>button{
    height: 40px;
    width: 5%
}

#result_div{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 15px;
    background-color:#f9f9f9;
    margin-top: 10px;

}